src/__pycache__/*
__pycache__
*/__pycache__/*
*/*.pyc
*.pyc
runs
*/runs/*
wandb
*/wandb/*
outdated
*/outdated/*
scripts
*/scripts/*

.cache
slurms
slurms/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
